<!--8.2.3-->
<div class="row row-no-padding">
  <img class="full-image image-title"src="view/home/img/aandroidbanner.png">
</div>
<div class="row stable-bg">
  <div class="col col-33">
    <h6>今日报表</h6>
    <p>256.14</p>
    <p>昨日:256.14<i class="icon ion-arrow-right-a balanced"></i> </p>
  </div>
  <div class="col col-33">
    <h6>本周周报表</h6>
    <p>256.14</p>
    <p>同期:525.78<i class="icon ion-arrow-down-a dark"></i> </p>
  </div>
  <div class="col col-33">
    <h6>本月报表</h6>
    <p>256.14</p>
    <p>同期:125.78<i class="icon ion-arrow-up-a assertive"></i> </p>
  </div>
</div>
<div class="row light-bg quick-actions row-no-padding">
  <a class="col col-border tab-item quick-action-item"href="#">
    <i class="icon ion-alert-circled"></i>新增商品
  </a>
  <a class="col col-border tab-item quick-action-item"href="#">
    <i class="icon ion-alert-circled"></i>收银记帐
  </a>
  <a class="col col-border tab-item quick-action-item"href="#">
    <i class="icon ion-alert-circled"></i>新增会员
  </a>
  <a class="col col-border tab-item quick-action-item"href="#">
    <i class="icon ion-alert-circled"></i>支出管理
  </a>

  <div class="row light-bg quick-actions row-no-padding">
    <a class="col col-border tab-item quick-action-item"href="#">
      <i class="icon ion-alert-circled"></i>商品管理
    </a>
    <a class="col col-border tab-item quick-action-item"href="#">
      <i class="icon ion-alert-circled"></i>查询销量
    </a>
    <a class="col col-border tab-item quick-action-item"href="#">
      <i class="icon ion-alert-circled"></i>会员管理
    </a>
    <a class="col col-border tab-item quick-action-item"href="#">
      <i class="icon ion-alert-circled"></i>智能分析
    </a>
  </div>

  <div class="row light-bg quick-actions row-no-padding">
    <a class="col col-border tab-item quick-action-item"href="#">
      <i class="icon ion-alert-circled"></i>供货商管理
    </a> <a class="col col-border tab-item quick-action-item"href="#">
    <i class="icon ion-alert-circled"></i>哈哈哈哈
  </a> <a class="col col-border tab-item quick-action-item"href="#">
    <i class="icon ion-alert-circled"></i>哈哈哈哈
  </a> <a class="col col-border tab-item quick-action-item"href="#">
    <i class="icon ion-alert-circled"></i>哈哈哈哈
  </a>
  </div>
</div>
<!--8.2.3-->
